:root {
    --color-principal: #2ECC71;
    --color-secundario: #333;
    --color-fondo: #ffffff;
    --color-boton-texto: #000;
    --color-boton-hover: #333333;
    --color-boton-hover-texto: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../../src/assets/Img/fondo1.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.formulario-contenedor {
    background-color: var(--color-fondo); /* Fondo blanco sólido */
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px auto;
    animation: fade-in 0.5s ease-out;
    border: 1px solid #ddd; /* Agrega un borde ligero para destacar */
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.formulario-contenedor img {
    display: block;
    margin: 0 auto 20px;
    max-width: 60%;
}

.barra_azul {
    color: #000;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-secundario);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-secundario);
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus {
    border-color: var(--color-principal);
    outline: none;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-principal);
    color: var(--color-boton-texto);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: var(--color-boton-hover);
    color: var(--color-boton-hover-texto);
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
    .formulario-contenedor {
        width: 95%;
        max-height: 70vh;
        padding: 20px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .formulario-contenedor {
        max-width: 500px;
        padding: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .formulario-contenedor {
        max-width: 600px;
        padding: 50px;
    }
}
