/* MiCV.css */
.cv-container {
    background-color: #F7F7F7; /* Gris claro para el fondo del contenedor */
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333333; /* Gris oscuro para el texto */
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    color: #005521; /* Verde esmeralda para el título */
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .profile-section {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .file-input {
    margin-bottom: 15px;
  }
  
  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #50C878; /* Verde esmeralda */
    margin-top: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .plain-input,
  .plain-textarea {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 18px 20px; /* Aumento el padding para mayor tamaño */
    border: none; /* Sin borde */
    border-radius: 12px; /* Bordes más redondeados */
    width: 100%;
    font-size: 16px;
    background-color: #FFFFFF; /* Blanco para el fondo de los inputs */
    color: #333333; /* Gris oscuro para el texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .plain-input:focus,
  .plain-textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #50C878; /* Verde esmeralda al enfocar */
  }
  
  .plain-textarea {
    resize: none;
    min-height: 150px; /* Aumento la altura de los textareas */
  }
  
  label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    display: block;
    color: #1C1C1C; /* Negro carbón */
  }
  
  .section {
    border: 1px solid #50C878; /* Verde esmeralda */
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .cta-button {
    background-color: #CC5500; /* Naranja quemado */
    color: #FFFFFF;
    padding: 14px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    flex: 1;
    margin-right: 15px;
    font-size: 16px;
  }
  
  .cta-button:last-child {
    margin-right: 0;
  }
  
  .cta-button:hover {
    background-color: #FFD700; /* Amarillo dorado al pasar el mouse */
    transform: scale(1.05);
  }
  
  footer {
    background-color: #1C1C1C; /* Negro carbón */
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
  }
  