.job-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9; /* Fondo claro para un diseño suave */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  font-family: 'Arial', sans-serif;
}

.job-header {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #FFB74D; /* Naranja quemado */
}

.company-name {
  font-weight: bold;
  font-size: 1.5em;
  color: #333; /* Color oscuro para mayor legibilidad */
}

.job-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #777; /* Gris más claro */
  margin-top: 10px;
}

.job-description,
.job-requirements,
.job-benefits,
.application-form {
  margin: 30px 0;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para las secciones */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h2 {
  border-bottom: 2px solid #50C878; /* Verde esmeralda */
  padding-bottom: 5px;
  color: #333; /* Color oscuro */
  margin-bottom: 15px;
}

ul {
  list-style-type: disc; /* Cambia el tipo de lista */
  padding-left: 20px;
}

.input-group {
  margin-bottom: 25px; /* Espaciado más amplio entre grupos de entrada */
}

label {
  font-weight: 600; /* Negrita para etiquetas */
  color: #555; /* Gris oscuro */
}

input[type="text"],
input[type="email"],
input[type="file"] {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ancho completo */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  transition: border-color 0.3s; /* Transición para el enfoque */
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #50C878; /* Verde esmeralda al enfocar */
}

button {
  padding: 15px;
  background-color: #FFB74D; /* Naranja quemado */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Botón de ancho completo */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones para el hover */
}

button:hover {
  background-color: #FFA726; /* Naranja más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}
